<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Richie FM</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body style="background-color:powderblue;"></body>
<div class="login">
    <h1>Predict Hit Song</h1>


    <form action="{{ url_for('predict')}}" method="post">


        <input type="text" name="track name" placeholder="track name" required="required" />
        <input type="text" name="artist" placeholder="artist" required="required" />



        <br></br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br>
    <br> {{ prediction_text }} {{compiled_output}}
</div>
</body>

</html>